<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rany&apos;s Plugins</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>format</string>
					<key>XCSourceEditorCommandName</key>
					<string>Format</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>wrap-comment</string>
					<key>XCSourceEditorCommandName</key>
					<string>/**/</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>wrap-preprocess-if-0</string>
					<key>XCSourceEditorCommandName</key>
					<string>#if#endif</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>wrap-preprocess-if-debug</string>
					<key>XCSourceEditorCommandName</key>
					<string>#ifdef#endif</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017年 ibestv. All rights reserved.</string>
</dict>
</plist>
